@import "tailwindcss";

@font-face {
  font-family: Lausanne-300;
  src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: Lausanne-500;
  src: url(/fonts/Lausanne-500.woff2);
}

body{
  background-color: #111;
  scroll-behavior: smooth;
}
.Close-button svg,.K72-Logo svg{
  stroke: #fff;
  stroke-width: .5  ;
  transition: stroke 0.3s ease;
}
.Close-button:hover svg,.K72-Logo:hover svg{
  stroke: #d3fd50;
}
.K72-Logo{
  border: #fff solid 1px;
  transition: border 0.3s ease;
}
.K72-Logo svg{
  fill: #fff;
  transition: fill 0.3s ease;
}
.K72-Logo:hover{
  border:#d3fd50 solid 1px;
}
.K72-Logo:hover svg{
  fill: #d3fd50;
}
.Menu-button svg{
  stroke: #000;
  stroke-width: .5  ;
  transition: stroke 0.3s ease;
}
.Menu-button div{
  transition: all 0.3s ease;
  height: 0;
  top: 0;
  position: absolute;
}
.Menu-button:hover div{
  height: 100%;
}